*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 30px;
  font-family: sans-serif;
}

button {
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

p {
  line-height: 1.5;
}

/* SLIDER CAROUSEL */

.carousel {
  display: flex;
  max-height: 300px;
  position: relative;
  margin-bottom: 50px;
}

.carousel__btn {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  line-height: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  background-color: rgb(32, 32, 32);
  color: white;
}

.carousel__chevron-icon {
  width: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel__btn:is(:hover, :focus-visible) {
  transform: translateY(-50%) scale(1.1);
}

.carousel__btn:active {
  transform: translateY(-50%) scale(1);
}

.carousel__next-btn {
  right: -15px;
}

.carousel__prev-btn {
  left: -15px;
  display: none;
}

.carousel__slider {
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  scroll-snap-type: x mandatory;
  gap: 30px;
  list-style: none;
}

.carousel__slider li {
  width: calc(100% / 5);
  object-fit: cover;
  margin: 8px 0;
  border: 2px solid #fff;
  border-radius: 3px;
  transition: border var(--base-transition-duration);
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  display: inline;
}

.carousel__slider img {
  display: block;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .carousel__slider li {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 650px) {
  .carousel__slider li {
    width: calc(100% / 3);
    scroll-snap-align: center;
  }
}

@media screen and (max-width: 450px) {
  .carousel__slider li {
    width: calc(100% / 2);
  }
}

/* END OF SLIDER CAROUSEL */

/* MODAL */

.open-modal-btn {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 50px;
}

.modal-container {
  position: fixed;
  inset: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: none;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.25s;
}

.modal-content {
  background-color: white;
  max-width: 350px;
  width: 100%;
  scrollbar-width: thin;
  max-height: 95vh;
  overflow-y: auto;
  position: relative;
  border-radius: 5px;
  text-align: center;
  padding: 50px;
  font-size: 1.25rem;
  transform: scale(0);
  /* opacity: 0; */
  transition: transform 0.25s, opacity 0.25s;
  z-index: 25;
  text-align: center;
}

.modal__close-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal_image {
  width: 125px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.modal_text {
  margin-bottom: 30px;
}

.modal__close-btn svg {
  width: 30px;
  cursor: pointer;
}

.modal_accept-btn {
  padding: 10px;
  cursor: pointer;
}

.modal__close-btn:is(:hover, :focus-visible) {
  color: red;
}

.modal__close-btn:active {
  opacity: 0.7;
}

/* END OF MODAL */

/* ACCORDION */

.accordion-container {
  list-style: none;
}

.accordion-panel {
  border-bottom: 2px solid black;
  position: relative;
}

.accordion__icon {
  width: 1.4rem;
  transition: transform 0.25s;
  will-change: transform;
}

.accordion-panel.active .accordion__icon {
  transform: rotate(-180deg)
}

.accordion__title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border: 2px solid red;
  width: 100%;
}

.accordion__content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.25s;
}

.accordion-panel.active .accordion__content-wrapper {
  grid-template-rows: 1fr;
}

.accordion__content-wrapper > div {
  overflow: hidden;
  grid-row: 1 / span 2;
}

.accordion__content {
  padding: 5px 15px 15px;
}

/* END OF ACCORDION */

.image-slider {
  margin-top: 50px;
  position: relative;
  min-height: 500px;
  height: 80vh;
}

.image-slider__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  flex-shrink: 0;
  flex-grow: 0;
  transition: transform 0.25s ease-in-out;
}

.image-slider__btn {
  position: absolute;
  padding: 5px;
  bottom: -15px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 50%;
  line-height: 0;
  box-shadow: 0 5px 5px #0000001a;
  border: none;
}

.image-slider__prev-btn {
  right: 100px;
}

.image-slider__next-btn {
  right: 50px;
}

.image-slider__chevron-icon {
  width: 1.25rem;
}

.image-slider__img-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.image-slider__btn:hover {
  transform: scale(1.1);
}

.image-slider__btn:active {
  transform: scale(1);
}

.image-slider__controls {
  position: absolute;
  left: 50px;
  bottom: 12px;
  display: flex;
  gap: 10px;
  list-style: none;
}

.image-slider__controls li {
  line-height: 0;
}

.image-slider__control-btn {
  background-color: #ffffff5f;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
}

.image-slider__control-btn.active {
  background-color: #fff;
}

.image-slider__control-btn:is(:hover, :focus-visible) {
  transform: scale(1.1);
}


/* TABS */

.tabs {
  margin-top: 50px;
  border: 1px solid #ccc;
}

.tabs__title-list {
  background-color: #f1f1f1;
  list-style: none;
  display: flex;
}

.tabs__title {
  background-color: transparent;
  padding: 20px;
  border: none;
  transition: background-color 0.15s;
}

.tabs__title.active {
  background-color: #ccc;
}

.tabs__title:is(:hover, :focus-visible) {
  background-color: #ddd;
}

.tabs__panel {
  padding: 20px 20px;
}

.tabs__panel h3 {
  margin:  0 0 10px;
}

/* END OF TABS */